body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ffe6f3;
}
h1{
font-family: Comic Sans MS;
}
img{
    height: 10%;
    width: 45%;
}
/* Full-width input fields */
input, select {
    width: 45%;
    padding: 12px 20px;
    margin: 1% 1%;
    display: inline-block;
    border:none;
    box-sizing: border-box;
    border-radius: 1%;
    font-size: 16px;
}
/* Set a style for all buttons */
.btn {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5%;
}
.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}
.danger {background-color: #f44336;} /* Red */ 
.danger:hover {background: #da190b;}
.container {
    padding: 16px;
    background: #e6e6e6;
    width: 70%;
    margin: 10% auto 15% auto;
}